/* Basic resets */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* Basic resets */

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

/* Footer */
footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  bottom: 0;
  height: 30px;
  p {
    padding: 0 50px;
    font-size: 13px;
  }
  a {
    color: inherit;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
}
/* Footer */
